[Desktop Entry]
Type=Application
Name=CHOS Files
Comment=Official CHOS file manager
Exec=/home/david/.local/bin/chos-files %F
Terminal=false
Categories=System;FileManager;Utility;
Keywords=files;folders;manager;chos;
